1 "Inter"  @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Inter&display=swap');
   font-family: 'Courier Prime', monospace;
   font-family: 'Inter', sans-serif;
     
2. "Rubik" @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Rubik&display=swap');
   font-family: 'Courier Prime', monospace;
   font-family: 'Rubik', sans-serif;
