@media screen and (max-width: 450px) {
    .wrapper{
      overflow-x: hidden;
    }

        /* === === === section HEADER === === ===  */
    .header{
        height: 755px;
    }

    .header__container {
        padding-top: 30px;
    }

    /* Header logos */
    .header__logos img:first-child{
        width: 125px;
        margin-right: 28px;
    }
    .header__logos img:nth-child(2){
        width: 62px;
    }

    /* Header img */
    .header__img{
        animation: none;
        margin-top: 0px;
    }
    .header-img__desctop{
        display: none;
    }

    .header-img__mob{
        display: block;
    }

    /* Header Title */
    .header__title{
        margin-top: -45px;
    }
    
    .header-title__text{
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        max-width: 280px;
    }
    
    /* Header info */
    .header-info{
        background-image: url(../img/header/infoBgMdl.svg);
        width: 313px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .header-info__date{
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }

    .header-info__location span:first-child{
        font-weight: 500;
        font-size: 21px;
        line-height: 24px;
        letter-spacing: 0.08em;
        color: var(--text-white);
    }

    .header-info__location span:nth-child(2){
        font-weight: 400;
        font-size: 11px;
        line-height: 11px;
        color: var(--text-white);
        letter-spacing: 0.02em;
    }

    /* Header btns */
    .header__btns{
        width: 100%;
    }

    .header__btn {
        width: 100%;
        justify-content: center;
        padding: 14px 0;
        padding: 5px 0;
    }
    .header__btn:not(:last-child){
        margin-right: 0;
        margin-bottom: 10px;
    }



    .btn__title{
        font-weight: 800;
        font-size: 18px;
        line-height: 15px;
    }

    .btn__title span{
        display: inline;
    }
    
    /* === === === section WINGS === === ===  */
    .wings__container{
        padding-top: 23px;
        padding-bottom: 35px;
      }
      .wings-info__top{
        font-size: 14px;
        color: rgba(216, 225, 239, 0.6);
        font-family: 'Inter', sans-serif;
        line-height: 20px;
      }
      .wings-info__bottom{
        font-size: 18px;
        color: rgba(216, 225, 239, 0.87);
        font-family: 'Inter', sans-serif;
        line-height: 28px;
      }
      .wings__info{
        background-image: url(../img/imgMain1/yahahawingsMbl.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        text-align: center;
        padding: 87px 22px;
      } 
    
    /* === === === section DISCORD GDC === === ===  */
    .discord__container{
        padding: 30px 15px;
      }
      .drow{
        background-image: url(../img/imgDiscord/titleDiscordMbl.svg);
        background-repeat: no-repeat;
        background-position: center;
        padding: 0 28px;
      }
      .discord__title{
        margin-bottom: 35px;
      }
      .title__text{
        font-size: 24px;
        line-height: 26px;
        padding: 0 26px;
        padding-top: 16px;
      }
      .discord__img{
        display: none;
      }

      .steps{
        justify-content: center;
      }
      .discord__steps {
        margin-bottom: 25px;
      }

      .steps__item {
        background-image: url(../img/imgDiscord/stepsMbl.svg);
        background-repeat: no-repeat;
        width: 180px;
        min-height: 137px;
        padding: 18px;
      }
      .step__title{
        font-weight: 700;
        font-size: 34px;
        line-height: 40px;
        margin-bottom: 0;
      }

      .step__text {
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
      }

      .date{
        text-align: center;
      }
      .discord__date{
        margin-bottom: 20px;
      }
      .date__title{
        position: relative;
        margin: 0 auto;
        width: 188px;
      }
      .date__title-first{
        font-family: 'Rubik', sans-serif;
        color: #D8E1EF;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
      }
      .date__title-second{
        padding-left: 10px;
      }
      .date__title-line{
        height: 1px;
        width: 100%;
        position: absolute;
        background-color: #D8E1EF;
      }
      .date__text{
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #D8E1EF;
        padding-top: 10px;
      }
      .discord__btn{
        text-align: center;
      }
      .discord__btn a {
        padding: 12px 70px;
      }
      .btn__title span{
        display: inline;
      }
    
          /* ============ SECTION ARTICLES ================ */
          .sectionArticles__container{
            padding-top: 33px;
            padding-bottom: 65px;
          }

          .sectionArticles__header{
            background: url(../img/SectionArticles/titleBg.png) no-repeat;
            background-position: center;
            background-size: 251px;
            margin-bottom: 17px;
          }

          .sectionArticles-header__text{
            width: auto;
            height: auto;
            font-weight: 700;
            font-size: 24px;
            line-height: 26px;
            padding: 5px 42px;
          }

          .sectionArticles__footer{
            background-image: url(../img/SectionArticles/around.png);
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
            padding: 35px 15px;
          }
          .sectionArticles-footer__wrapper{
            display: block;
          }

          .sectionArticles__footer > img{
            display: none;
          }

          

          .sectionArticles-footer__imgcontainer{
            margin-bottom: 12px;
          }

          .sectionArticles-footer__textandbutton{
            position: static;
            display: block;
          }

          .sectionArticles-footer__text{
            margin-bottom: 12px;
          }

          .sectionArticles-footer__img{
            height: auto;
          }

          .sectionArticles-footer__imgcontainer{
            margin-right: 0;
          }

          .sectionArticles-footer__img{
            width: 100%;
          }

          .sectionArticles-footer__text{
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
          }
    
    
          /* ============ SECTION description YAHAHA ================ */
          .sectionProjDesc__container{
            padding: 77px 15px;
          }
          .sectionProjDesc__header{
            margin-bottom: 32px;
            padding: 10px 0px;
            background-size: 275px 50px;
          }

          .sectionProjDesc-header__text{
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
          }

          .sectionProjDesc-wrapper__text{
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            width: auto;
            margin-bottom: 20px;
          }




    
        /* === === === section showcase === === ===  */
        .showcase__container{
            padding: 50px 15px; 
        }

        .showcase__title{
            background-image: url(../img/showcaseimg/showcasetitlebgmobile.png);
            height: 44px;
            width: 236px;
            padding: 4px 0;     
            margin-bottom: 8px;     
        }

        .showcase-title__text{
            margin-top: 8px;
            font-weight: 700;
            font-size: 24px;
            line-height: 28.44px;
        }

        .showcase__info{
            margin-bottom: 32px;
            padding: 0 12px;
        }
        
        .showcase-info__text{
            font-size: 14px;
            line-height: 18px;
        }

        .showcase-wrapper{
            flex-direction: column;
            max-width: 100%;
            height: auto;
        }

        .showcase-wrapper__mainimg > img{
            max-width: 100%;
            height: auto;
            margin-bottom: 9px;

        }
          
        .showcase-wrapper__button{
            width: 57px;
            height: 57px;  
        }

        .showcase-wrapper__button img{
            width: 12px;
            height: 14px;
        }
        
        .showcase-wrapper__sideimg{
            flex-direction: row;
        }

        .showcase-wrapper__sideimg img.active{
            padding: 2px ;
            background-color: #FFC200;
            border-radius: 6px;
          }

        .showcase-wrapper__sideimg img{
            padding: 2px ;
            border-radius: 6px;
            height: 47px;
            width: auto;
        }


        /* === === === section OUR INVESTORS === === ===  */
    .investors__title{
      margin-bottom: 32px;
  }

  .investors__title .title,
  .partners__title .title{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }


  .investors__logos-row{
      flex-wrap: wrap;
      gap: 5px;
      padding-bottom: 5px;
  }

  .investors__title{
      background-size: 60% 100%;
      height: 45px;
  }

  .investors__item{
      padding: 10px 17px;
      width: 135px;
      height: 55px;
  }

  .investors__item > img{
      padding: 10px 17px;
      width: 111px;
      height: 47px;
  }
  .investors{
      padding-top: 40px;
      padding-bottom: 23px;
  }
/* === === === section OUR PARTNERS === === ===  */
  .partners{
      padding-top: 23px;
      padding-bottom: 45px;
  }

  .partners__logos-row{
      flex-wrap: wrap;
  }

  .partners__title{
      background-size: 60% 100%;
      height: 45px;
      margin-bottom: 32px;
  }

  .partners__item{
      padding: 10px 17px;
      width: 90px;
      height: 47px;
  }

  .partners__item > img{
      padding: 10px 17px;
      width: 90px;
      height: 47px;
  }

  .partners__item-mobile{
      display: flex;
      padding: 10px 17px;
      width: 90px;
      height: 47px;
  }
  .partners{
      padding-top: 40px;
      padding-bottom: 40px;
  }
  .double{
      display: none;
  }
  .partners__group{
      animation: none;
      margin-bottom: 0;
  }

/* === === === section FOOTER === === ===  */

  .footer{
      font-size: 11px;
  }

  .footer > p{
      line-height: 27px;
      padding: 4px;
  }
}

@media screen and (max-width: 434px) {
    .showcase-wrapper__sideimg{
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }
}

@media screen and (max-width: 410px){
    .wings__container{
        padding-bottom: 0;
    }


    /* ============ section ARTICLES ===================== */
    .sectionArticles__header {
      margin-bottom: 10px;
    }

    .sectionArticles__footer {
      padding: 15px;
    }
}


@media screen and (max-width: 400px){
    .wings__info{
        padding: 68px 22px;
    }
}

@media screen and (max-width: 375px){
    .wings__container {
        padding-top: 0;
    }
    
    .step__title{
      font-size: 27px;
  }

  .discord__btn a .btn__title{
    font-size: var(--text-mblbutton);
  }
}


@media screen and (max-width: 356px) {
  .sectionArticles__footer {
    padding: 0;
  }

  .sectionArticles-footer__imgcontainer{
    /* width: 300px; */
    margin: 0 auto;
    padding-top: 8px;
  }

  .sectionArticles-footer__wrapper{
    padding: 10px;
  }
  
  .sectionArticles-btn__text{
    font-size: 17px;
  }

  .sectionArticles-btn__img{
    width: 12px;
  }

  .sectionArticles-footer__sectionArticles__btn a{
    margin: 0 0 10px 10px;
  }
}

@media screen and (max-width: 348px) {
  .sectionArticles__footer{
    background-image: none;
  }
  .sectionArticles__container{
    padding-bottom: 33px;
  }

}
