@media screen and (max-width: 450px) {
    .wrapper{
      overflow-x: hidden;
    }

        /* === === === section HEADER === === ===  */
    .header{
        height: 755px;
    }

    .header__container {
        padding-top: 30px;
    }

    /* Header logos */
    .header__logos img:first-child{
        width: 125px;
        margin-right: 28px;
    }
    .header__logos img:nth-child(2){
        width: 62px;
    }

    /* Header img */
    .header__img{
        animation: none;
        margin-top: 0px;
    }
    .header-img__desctop{
        display: none;
    }

    .header-img__mob{
        display: block;
    }

    /* Header Title */
    .header__title{
        margin-top: -45px;
    }
    
    .header-title__text{
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        max-width: 280px;
    }
    
    /* Header info */
    .header-info{
        background-image: url(../img/header/infoBgMdl.svg);
        width: 313px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .header-info__date{
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }

    .header-info__location span:first-child{
        font-weight: 500;
        font-size: 21px;
        line-height: 24px;
        letter-spacing: 0.08em;
        color: var(--text-white);
    }

    .header-info__location span:nth-child(2){
        font-weight: 400;
        font-size: 11px;
        line-height: 11px;
        color: var(--text-white);
        letter-spacing: 0.02em;
    }

    /* Header btns */
    .header__btns{
        width: 100%;
    }

    .header__btn {
        width: 100%;
        justify-content: center;
        padding: 14px 0;
        padding: 5px 0;
    }
    .header__btn:not(:last-child){
        margin-right: 0;
        margin-bottom: 10px;
    }



    .btn__title{
        font-weight: 800;
        font-size: 18px;
        line-height: 15px;
    }

    .btn__title span{
        display: inline;
    }
    
    /* === === === section WINGS === === ===  */
    .wings__container{
        padding-top: 23px;
        padding-bottom: 50px;
      }
      .wings-info__top{
        font-size: 14px;
        color: rgba(216, 225, 239, 0.6);
        font-family: 'Inter', sans-serif;
        line-height: 20px;
      }
      .wings-info__bottom{
        font-size: 18px;
        color: rgba(216, 225, 239, 0.87);
        font-family: 'Inter', sans-serif;
        line-height: 28px;
      }
      .wings__info{
        background-image: url(../img/imgMain1/yahahawingsMbl.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        text-align: center;
        padding: 87px 22px;
      } 
}

@media screen and (max-width: 400px){
    .wings__info{
        padding: 68px 22px;
    }
}
