/* =========================== COPMONENTS =========================== */
.container{
  max-width: 1230px;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* --- Title --- */
.title{
  font-family: 'Rubik';
  font-weight: 700;
  font-size: var(--text-title); 
  line-height: 47px;
  text-align: center;
  color: var(--text-light); 
}

/* --- Buttton --- */
.btn{
  font-size: var(--text-btn);
  border-radius: 105px;  
  padding: 12px 30px;
  display: inline-flex;
  align-items: center;
  position: relative;
}
.btn::before{
  content: '';
  display: block;
  position: absolute;
  width: 100%;height: 100%;
  left: 0; top: 0;
  border-radius: 105px; 
  z-index: -1;
  opacity: 0.2;
  transition: transform .2s ease-in;
}
.btn:hover::before{
  transform: scaleY(1.2) scaleX(1.06);
}
.btn:active::before{
  transition: transform .1s ease-in;
  transform: scaleY(1.13) scaleX(1.04);
}


.btn--green{ background-color: var(--btn-green); }
.btn--green::before{
  background-color: inherit;
}

.btn--yellow{ background-color: var(--btn-yellow); }
.btn--yellow::before{
  background-color: inherit;
}

.btn--purple{ background-color: var(--btn-purple); }
.btn--purple::before{
  background-color: inherit;
}


.btn__icon{
  margin-right: 12px;
  width: 35px;
  height: 35px;
}

.btn__icon--download img{
  transform: scale(1.2);
}

.btn__icon img{
  object-fit: cover;
  object-position: center center;
}


.btn__title{
  color: var(--text-black);
  font-weight: 800;
  font-size: var(--text-btn);
  line-height: 23px;
}


/* ====================================================================== */
/* =========================== SECTION STYLES =========================== */
/* ====================================================================== */
/* =-=-=-=-=-=-=-=-=-=- HEADER section =-=-=-=-=-=-=-=-=-= */
.header{
  height: 100vh;
  background-image: url(../img/header/headerBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__container{
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__logos{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logos img{
  transition: transform 0.2s ease-in;
}

.header__logos img:hover{
  transform: scale(1.02);
}

.header__logos img:not(:last-child){
  margin-right: 77px;
}

.header__img{
  margin-top: -15px;
  animation: 2s linear 1s infinite alternate headerImgAnimation;
}

.header-img__mob{
  display: none;
}

.header__title{
  margin-top: -100px;
  margin-bottom: 10px;
}

.header-title__text{
  font-family: 'Inter';
  color: var(--text-white);
  font-weight: 700;
  font-size: 37.4344px;
  line-height: 42px;
  text-transform: uppercase;
}

.header-info{
  width: 500px;
  height: 68px;
  position: relative;
  background-image: url(../img/header/infoBg.svg);
  background-size: cover;

  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.header__info{
  margin-bottom: 40px;
}

.header-info__date{
  font-family: Inter;
  color: var(--text-black);
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  text-transform: uppercase;
  margin-right: 24px;
}

.header-info__location{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.header-info__location span:first-child{
  font-weight: 500;
  font-size: 31.5044px;
  line-height: 31px;
  letter-spacing: 0.09em;
}

.header-info__location span:nth-child(2){
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
}

.header__btn:not(:last-child){
  margin-right: 25px;
}

.btn__title span{
  display: none;
}

@keyframes headerImgAnimation {
  0%{
    transform: translateY(0);
  }

  50%{
    transform: translateY(-3px);
  }

  0%{
    transform: translateY(0);
  }
}

/* =-=-=-=-=-=-=-=-=-=- WINGS section =-=-=-=-=-=-=-=-=-= */
.wings__container{
  max-width: 1455px;
  padding: 92px 15px;
}

.wings-info__top{
  font-size: 16px;
  color: rgba(216, 225, 239, 0.6);
  font-family: 'Inter', sans-serif;
  line-height: 19.5px;
}
.wings-info__bottom{
  font-size: 22px;
  color: rgba(216, 225, 239, 0.87);
  font-family: 'Inter', sans-serif;
  line-height: 44px;
}

.wings__info{
  background-image: url(../img/imgMain1/yahahawings.svg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 53px 0;
}


/* =-=-=-=-=-=-=-=-=-=- DISCORD GDC section =-=-=-=-=-=-=-=-=-= */
.discord{
overflow: hidden;
    position: relative;
}

.drow{
  background-image: url(../img/imgDiscord/titleDiscord.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 14px 0;
}
.discord__title{
  margin-bottom: 110px;
}

.discord__steps{
  margin-bottom: 43px;
}
.steps{
  display: flex;
  gap: 25px;
}

.steps__item{
  width: 381px;
  padding: 30px;
  background-image: url(../img/imgDiscord/steps.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
}
.step__title{
  font-family: 'Rubik', sans-serif;
  font-size: 50px; 
  line-height: 52px;
  color:  #4A525F;
  font-weight: 700;
  margin-bottom: 5px;
}
.step__text{
  font-family: 'Rubik', sans-serif;
  font-size: 18px; 
  line-height: 26px;
  color:  #D8E1EF;
  font-weight: 400;
}


.discord__date{
  margin-bottom: 40px;
}

.date__title{
  position: relative;
  width: 229px;
}
.date__title-first{
  font-family: 'Rubik', sans-serif;
  color: #D8E1EF;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}
.date__title-second{
  padding-left: 15px;
}

.date__text{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #D8E1EF;
  padding-top: 10px;
}
.discord__img{
    position: absolute;
    bottom: -275px;
    right: 267px;
  pointer-events: none;
  filter: grayscale(100%);
  opacity: 40%;
}
.discord__container{
  padding-top: 92px;
  padding-bottom: 136px;
  padding-left: 15px;
  padding-right: 15px;
}
.date__title-line{
  height: 1px;
  width: 100%;
  position: absolute;
  background-color: var(--text-light);
}
.btn__title span{
  display: none;
}


/* =-=-=-=-=-=-=-=-=-=- ARTICLES section =-=-=-=-=-=-=-=-=-= */
.sectionArticles__header{
  position: relative;
  text-align: center;
  background: url(../img/SectionArticles/mazok.svg) no-repeat;
  background-position: 125px;
  margin-bottom: 60px;
}

.sectionArticles__container{
  padding-top: 54px;
  padding-bottom: 194px;
}

.sectionArticles-header__text{
  z-index: 1;
  position: relative;
  width: 1043.83px;
  height: 94px;
  top: 13.85px;
  font-weight: 700;
  font-size: var(--text-title);
  line-height: 47px;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  color: var(--text-light);
  margin: 0 auto;
}

.sectionArticles-footer__imgcontainer{
  margin-right: 61px;
}

.sectionArticles__footer{
  position: relative;
  padding: 28px 50px;
}

.sectionArticles-footer__img{
  width: 486.73px;
  height: 243.37px;
}

.sectionArticles-footer__text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: var(--text-content);
  line-height: 34px;
  color: var(--text-light);
}

.sectionArticles-footer__btn{
  display: flex;
  align-items: center;
  gap: 8px;
  width: 120px;
  height: 29px;
}

.sectionArticles-btn__img{
  width: 17.29px;
  height: 17.36px;
}
.sectionArticles-btn__text{
  text-decoration: none;
  width: 85px;
  height: 29px;
  text-transform: uppercase;
  font-family: 'Inter';
  font-weight: 700;
  font-size: var(--text-mbltitle);
  line-height: 29px;
  color: var(--btn-yellow);
}

.sectionArticles-footer__textandbutton{
  position: relative;
  bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
}

.sectionArticles__linetop{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.sectionArticles__linebottom{
  position: absolute;
  left: 0;
  top: 7px;
  z-index: -1;
}

.sectionArticles-footer__wrapper{
  display: flex;
}






 .sectionProjDesc__sec2img{
  height: auto;
  position: relative;
}  

 .sectionProjDesc__img{
  position: absolute;
  z-index: -1;
  mix-blend-mode: color-dodge;
  width: 100%;
  height: 100%;
}

.sectionProjDesc{
  background: url(../img/SectionProjectDescription/bacg.png) center/cover no-repeat;
}

.sectionProjDesc__container{
  padding: 173px 0;
}

.sectionProjDesc__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionProjDesc__header{
  background: url(../img/SectionProjectDescription/mazok.png) center/450px no-repeat;
  margin-bottom: 60px;
}

.sectionProjDesc-header__text{
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: var(--text-title);
  text-align: center;
  color: var(--text-light);
  width: 100%;
  height: 100%;
}

.sectionProjDesc-wrapper__text{
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: var(--text-content);
  line-height: 34px;
  color: var(--text-light);
  width: 595px;
  margin-bottom: 36px;
}

.sectionProjDesc__span{
  font-weight: 700;
}

.sectionProjDesc-wrapper__button{
  margin: 0;
  z-index: 1;
}

.sectionProjDesc__footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}



/* =-=-=-=-=-=-=-=-=-=- SHOWCASE section =-=-=-=-=-=-=-=-=-= */
.showcase__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 15px; 
}

.showcase__title{
  background-image: url(../img/showcaseimg/showcasetitlebg.png);
  background-position: center;
  width: 372px;
  padding: 7px 0;
  margin-bottom: 60px; 
}

.showcase__info{
  margin-bottom: 60px;
  padding: 0 90px;
}

.showcase-info__text{
  text-align: center;
  font-size: 24px;
  line-height: 32px;
}


.showcase-wrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  height: 552px;
}

.showcase-wrapper__mainimg{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.showcase-wrapper__button{
  background-color: rgba(46, 46, 46, 0.7);
  backdrop-filter: blur(44.7145px);
  border-radius: 100px;
  width: 117px;
  height: 117px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.showcase-wrapper__sideimg{
  display: flex;
  flex-direction: column;
  max-height: 100%;
  justify-content: space-between;
}

.showcase-wrapper__sideimg img{
  padding: 4px ;
  border-radius: 12px;
}

.showcase-wrapper__sideimg img.active{
  padding: 4px ;
  background-color: #FFC200;
  border-radius: 12px;
}

.showcase-wrapper__sideimg img:hover{
  background-color: #FFC200;
  cursor: pointer;
}






/* =-=-=-=-=-=-=-=-=-=- OUR INVESTORS section =-=-=-=-=-=-=-=-=-= */
.investors__item{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 190px;
  border: 1px solid white;
  border-radius: 10px;
  opacity: 60%;
}

.investors__logos-row{
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 10px;
}
.investors__logos-row--second{
  padding-bottom: 0;
}

.investors__title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 82px;
  margin-bottom: 60px;
  background-image: url(../img/ourinvestors/titlebg.png);
  background-size: 33% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.investors{
  padding-top: 125px;
  background-color: #21262E;
  padding-bottom: 63px;
}

/* =-=-=-=-=-=-=-=-=-=- OUR PARTNERS section =-=-=-=-=-=-=-=-=-= */

.partners{
  padding-top: 55px;
  background-color: #21262E;
  padding-bottom: 180px;
}

.partners__item{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 190px;
}

.partners__item-mobile{
  display: none;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 190px;
}

.partners__logos-row{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.partners__title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 82px;
  margin-bottom: 60px;
  background-image: url(../img/ourinvestors/titlebg.png);
  background-size: 33% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.partners__group{
  display: flex;
  gap: 20px;
}

.partners__group--one{
  margin-bottom: 40px;
  animation: partners_animation-one 5s ease-in-out infinite alternate;
}

.partners__group--two{
  flex-direction: row-reverse;
  animation: partners_animation-two 5s ease-in-out infinite alternate;
}

.partners__content{
  overflow: hidden;
}

@keyframes partners_animation-one{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes partners_animation-two{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0);
  }
}

/* =-=-=-=-=-=-=-=-=-=- FOOTER section =-=-=-=-=-=-=-=-=-= */

.footer{
  background-color: #191E25;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  text-align: center;
}

.footer > p{
  line-height: 27px;
  padding: 10px;
}
