/* =========================== COPMONENTS =========================== */
.container{
  max-width: 1230px;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* --- Title --- */
.title{
  font-family: 'Rubik';
  font-weight: 700;
  font-size: var(--text-title); 
  line-height: 47px;
  text-align: center;
  color: var(--text-light); 
}

/* --- Buttton --- */
.btn{
  font-size: var(--text-btn);
  display: inline-block;
  border-radius: 105px;  
  padding: 12px 30px;
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-top: 50px;
  margin-right: 50px;
}
.btn::before{
  content: '';
  display: block;
  position: absolute;
  width: 100%;height: 100%;
  left: 0; top: 0;
  border-radius: 105px; 
  z-index: -1;
  opacity: 0.2;
  transition: transform .2s ease-in;
}
.btn:hover::before{
  transform: scaleY(1.2) scaleX(1.06);
}
.btn:active::before{
  transition: transform .1s ease-in;
  transform: scaleY(1.13) scaleX(1.04);
}


.btn--green{ background-color: var(--btn-green); }
.btn--green::before{
  background-color: inherit;
}

.btn--yellow{ background-color: var(--btn-yellow); }
.btn--yellow::before{
  background-color: inherit;
}

.btn--purple{ background-color: var(--btn-purple); }
.btn--purple::before{
  background-color: inherit;
}


.btn__icon{
  margin-right: 12px;
  width: 35px;
  height: 35px;
}

.btn__icon--download img{
  transform: scale(1.2);
}

.btn__icon img{
  object-fit: cover;
  object-position: center center;
}


.btn__title{
  color: var(--text-black);
  font-weight: 800;
  font-size: var(--text-btn);
  line-height: 23px;
}


/* ====================================================================== */
/* =========================== SECTION STYLES =========================== */
/* ====================================================================== */
/* =-=-=-=-=-=-=-=-=-=- HEADER section =-=-=-=-=-=-=-=-=-= */
.header{
  height: 100vh;
  background-image: url(/img/header/headerBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__container{
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logos{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logos img{
  transition: transform 0.2s ease-in;
}

.header__logos img:hover{
  transform: scale(1.02);
}

.header__logos img:not(:last-child){
  margin-right: 77px;
}

.header__img{
  margin-top: -15px;
  animation: 2s linear 1s infinite alternate headerImgAnimation;
}

.header-img__mob{
  display: none;
}

.header__title{
  margin-top: -100px;
  margin-bottom: 10px;
}

.header-title__text{
  font-family: 'Inter';
  color: var(--text-white);
  font-weight: 700;
  font-size: 37.4344px;
  line-height: 42px;
  text-transform: uppercase;
}

.header-info{
  width: 500px;
  height: 68px;
  position: relative;
  background-image: url(/img/header/infoBg.svg);
  background-size: cover;

  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.header__info{
  margin-bottom: 40px;
}

.header-info__date{
  font-family: Inter;
  color: var(--text-black);
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  text-transform: uppercase;
  margin-right: 24px;
}

.header-info__location{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.header-info__location span:first-child{
  font-weight: 500;
  font-size: 31.5044px;
  line-height: 31px;
  letter-spacing: 0.09em;
}

.header-info__location span:nth-child(2){
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
}

.header__btn:not(:last-child){
  margin-right: 25px;
}

.btn__title span{
  display: none;
}

@keyframes headerImgAnimation {
  0%{
    transform: translateY(0);
  }

  50%{
    transform: translateY(-3px);
  }

  0%{
    transform: translateY(0);
  }
}
